body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .contenedor {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .temporizador {
    font-size: 4em;
    color: #333;
    margin-bottom: 20px;
  }

  .botones button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .botones button:hover {
    background-color: #45a049;
  }
